
		/*CSS-Styles for all documents*/
*{
	margin: 0;
    padding: 0;
    font-family: Luna;
}


		/* HEADER CSS-Styles*/
.container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top:30px;
	margin-bottom: 20px;
}
.logo{
	flex-grow: 6;
	margin-left: 20px;
	color: #f58220;
	padding-bottom: 20px;

}
#button{
	text-decoration: none;
	color: #a9a3a1;
	font-size: 11px;
}

#button:hover{
	text-decoration: none;
	color: #a9a3a1;
	font-size: 13px;
}

#IRA {
	text-decoration: none;
	color: #f58220;
	font-size: 25px;
}

#IRA:hover {
	text-decoration: none;
	color: #f58220;
	font-size: 28px;
}

.navbar-buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-grow: 2;
}

li{
	list-style-type: none;
}
		/*MAIN Container: Begin*/
.main-container{
	width: 1230px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}
.main-pictures{
	width: 397px;
	height: 397px;	
	
}

.main-pictures:hover{
	width: 397px;
	height: 397px;
	filter: grayscale(80%);	
}

.picture-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	float: left;
}

		/*MAIN Container: End*/


		/* FOOTER CSS-Styles*/
.main-footer{
	margin-bottom: 40px;
}
.social-media{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 5px;
}

.social-media-buttons{
	display: flex;
	flex-direction: row;
	width: 500px;
	justify-content: space-between;
	
}

#button-footer{
	text-decoration: none;
	font-size: 17px;
	color: #f58220;
}

#button-footer:hover{
	text-decoration: none;
	font-size: 19px;
	color: #f58220;
}

.copy-right{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 12px;
	color: #a9a3a1;
}
